# Core data processing
pandas
numpy
scipy
statsmodels

# Database
pymongo

# AWS
boto3
botocore

# Web scraping
requests
beautifulsoup4
lxml
selenium
webdriver-manager
chromedriver-autoinstaller

# Machine Learning
tensorflow
tensorflow-hub
pillow
pinecone

# Utilities
python-dotenv
python-dateutil
yfinance
chardet
googleapis-common-protos
grpcio-tools
tenacity
matplotlib
seaborn
